<footer class="site-footer">
  <div class="cols">
    <div class="badge">
      <img src="/assets/img/bca-logo.png" alt="Bonita Center for the Arts badge logo" width="253" height="294">
    </div>
    <div>
      <h2>Contact</h2>
      <p>Office: <a href="tel:+19099718280">(909) 971-8280</a></p>
      <p>Email: <a href="mailto:KBrown@Bonita.k12.ca.us">KBrown@Bonita.k12.ca.us</a></p>
    </div>
    <div>
      <h2>Box office</h2>
      <p>Opens 1 hour before showtime</p>
      <p>Email: <a href="mailto:Kauffunger@Bonita.k12.ca.us">Kauffunger@Bonita.k12.ca.us</a></p>
      <p><a href="https://bonitacenterforthearts.ludus.com/index.php">Buy tickets online</a></p>
    </div>
    <div>
      <h2>Visit</h2>
      <address>
        Bonita Center for the Arts<br>
        822 West Covina Boulevard<br>
        San Dimas, CA 91773
      </address>
      <p><a href="https://www.google.com/maps/search/?api=1&amp;query=Bonita+Center+for+the+Arts%2C+822+W+Covina+Blvd%2C+San+Dimas%2C+CA+91773">Get directions</a></p>
    </div>
  </div>
  <div class="fineprint">
    <p>The Bonita Center for the Arts is owned and operated by the Bonita Unified School District.</p>
  </div>
</footer>
