  <nav class="toc section-nav" aria-label="In this section">
    <h2>In this section</h2>
    <ul>
      <li><a href="/about"<!--# if expr="$page = about" --> aria-current="page"<!--# endif -->>Our story</a></li>
      <li><a href="/about/visit"<!--# if expr="$page = about-visit" --> aria-current="page"<!--# endif -->>Plan your visit</a></li>
      <li><a href="/about/gallery"<!--# if expr="$page = about-gallery" --> aria-current="page"<!--# endif -->>Gallery</a></li>
      <li><a href="/about/contact"<!--# if expr="$page = about-contact" --> aria-current="page"<!--# endif -->>Contact us</a></li>
      <li><a href="/about/policies"<!--# if expr="$page = about-policies" --> aria-current="page"<!--# endif -->>House policies</a></li>
    </ul>
  </nav>
